#игнорировать все файлы из папки tmp
tmp/
#так же игнорировать файлы заканчивающиеся на _old и _backup
*_old
*_backup
# в том чесле игнорировать файлы Thumbs.db и .DS_Store
**/*Thumbs.db
**/*.DS_Store